*.whl
*_dev
8b
dev/
config.json
eval_output/
eval-result/
hostfile
core.*
*.out
captioner_bk/
slurm-scripts/
slurm-logs/
captioner/
hostfile
*_dev.py
*_dev.sh
*.ipynb


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Output files
output/
temp_outputs/
reconstruction_test/

# Model files
*.npy
*.ply
*.pth
*.pt
*.bin
pretrained/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

runs
checkpoints
checkpoints_bak
ckpts*

playground
*/visualization/*

demo_out
dataset_pipeline/osdsynth/external/*
# Thêm các quy tắc .gitignore cho SpatialRGPT

# Thư mục đầu ra
**/output/
**/temp_outputs/
**/reconstruction_test/

# File độ sâu
**/*.npy
**/*.ply

# Môi trường Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/=*
**/build/
**/dist/

# Checkpoint models
**/pretrained/
**/*.pth
**/*.pt
**/*.bin

# Logs
**/logs/
**/*.log 